


header {
width: 100%;
background-color: rgb(239, 237, 237);
background-size:cover;
max-height: 200px;
font-family: "Verdana, Geneva, Tahoma, sans-serif";
position:sticky;
top:20px;

}

.button-cart{
  background-color: transparent;
  border: 1px transparent;
  border-radius: 30%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color:green;
  float: right;
  padding:10px;
  margin:0,5px;
  cursor:pointer;
  transition-duration: 0,4s; }
 
 
  .button-cart:hover {
    background-color: wheat;
    color: green; }


.button-search{
  background-color: transparent;
  border: 1px transparent;
  border-radius: 30%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color:green; 
  float: right;
  padding:10px;
  margin:0,5px;
  cursor:pointer;
  transition-duration: 0,4s;
}
 
.button-search:hover {
  background-color: wheat;
  color: green; }


 
.hamburger-label {
  float: right;
  color: rgb(83, 128, 0);
  padding: 2px;
  font-size: 20px;
  display: block;
}

.logo { 
max-width: 200px;
padding:40px;}


nav {
display: none;

}
nav ul{
  padding: 0px;

}
nav li {
  display: block;
}

nav a {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
  text-decoration: none;
  color: green;
  padding: 10px;
  display: block;
  background-color:transparent;
  border: 1px,transparent;
  border-radius: 30%;
  transition-duration: 0,4s;
  
}
nav a:hover {
  background-color: wheat;
  border: 1px, transparent;
}
.current{
  font-weight: bold;
  background-color: wheat;
}


#hamburger-menu{
  display: none;,
}

#hamburger-menu:checked ~ nav {
  display: block;
  float:right;
  text-align: center;
}



.box{
  
width: 100%;
background-image: url(../images/IMG_8155.JPG);
background-size: cover;
min-height: 300px;
   
   
 
  }
#info a {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-decoration: none;
  color:wheat;
  font-weight: bold;
  top:100px;
  right: 10px;
  float:right;
  text-align: right;
  font-size: 2em;
  margin-top: 110px;
  margin-right: 50px;
  margin-left:800px;
  cursor: pointer;
  


}
#info a:hover{

  color:yellow} 
  
@media (min-width: 1000px){
  .logo { 
    float: left;
  }
  .hamburger-label {
    display: none;}

  nav{
    display: inline-block;
    padding: 40px;
    font-size: 20px;
    position: relative;
  
  }
 nav a:hover{
  background-color: wheat;
  border: 1px, transparent;
 }
 
    ul{
      padding: 0px;
      display: flex;
    }
    li{
      display:inline-block;
      margin:20px;
      padding: 20px;}
     

  
      .box{
  
        width: 100%;
        background-image: url(../images/IMG_8155.JPG);
        background-size: cover flex;
        min-height: 600px;}

  #info a
  {
    text-decoration: none;
    color: wheat;
    font-size: 100px;
    margin-top: 110px;
    margin-right: 50px;
    margin-left: 2000px;
    text-align: right;}

     #info a:hover{

    color:yellow} 
    
  }
}








